@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Play:wght@700&family=Roboto&family=Roboto+Slab&display=swap');

:root {
  --black: #313131;
  --black-soft: #414141;
  --black-mute: #525252;
  
  --white: #F5F5F5;
  --white-soft: #E4E4E4;
  --white-mute: #D4D4D4;
  
  --color-accent: #FF738F;
  --color-accent-light: #FFB8C6;
  --color-accent-alt: #A6634B;

  --font-brand: 'Jost', sans-serif;
  --font-heading: 'Play', sans-serif;
  --font-main: 'Roboto', sans-serif;
  --font-alt: 'Roboto Slab', serif;
}

@media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
  :root {
    --color-main: var(--black);
    --color-main-soft: var(--black-soft);
    --color-main-mute: var(--black-mute);

    --color-contrast: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: var(--white);
    --color-main-soft: var(--white-soft);
    --color-main-mute: var(--white-mute);

    --color-contrast: var(--black);
  }
}

*, 
*::before, 
*::after 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
