:root {
  --black: #313131;
  --black-soft: #414141;
  --black-mute: #525252;
  
  --white: #F5F5F5;
  --white-soft: #E4E4E4;
  --white-mute: #D4D4D4;
  
  --light-accent: #A57D6F;
  --accent: #FFB7C5;
}

@media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
  :root {
    --color-main: var(--black);
    --color-main-soft: var(--black-soft);
    --color-main-mute: var(--black-mute);

    --color-contrast: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: var(--white);
    --color-main-soft: var(--white-soft);
    --color-main-mute: var(--white-mute);

    --color-contrast: var(--black);
  }
}

*, 
*::before, 
*::after 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
