@import './base.css';

body {
  height: 100vh;
  background: url("japanese_village.webp") 0 0 / cover no-repeat, var(--color-main);
  backdrop-filter: blur(2px);
  font-family: var(--font-main);
  color: var(--color-contrast);
}
